 @import "bootstrap";

 .input-group {
    width: 30%;
 }
 .header h3 {
    margin-left: 2em;
 }
 .nav-link {
    margin-left: 4em;
 }
 .input-group {
    margin-left: 4em;
 }
 .btn {
    line-height: 150%;
 }